@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.vqb-table {

  @include border-radius(.125em);

  .title {
    font-size: .65em;
  }

}