@import "database";
@import "table";
// db



// Only tables



  .vqb-fields-list{
    display: inline-block;
    width: 100%;
  }

  .vqb-table-field{
    display: inline-block;
    margin: 0.5em 0.075em;
    width: 100%;
    padding: 0.075em;
    box-sizing: border-box;
    &:hover{
      border: 0.125em dotted #ffc520;
    }
  }


//Statement


